@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
figure,
blockquote {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  padding: 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.header {
  background-color: #222;
  min-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}

.header__logo:hover img {
  filter: brightness(0.7);
}

.header__logo:active img {
  filter: brightness(0.4);
}

.header__search {
  position: relative;
}

.header__search-input {
  position: absolute;
  left: 35px;
  line-height: 28px;
  box-sizing: border-box;
  width: 0;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  padding: 0 5px;
  transition: width 1s ease;
}

.header__search:hover svg {
  fill: #e05c6e;
}

.header__search-input:focus {
  border: 1px solid white;
  width: 200px;
  color: white;
  transition: width 1s ease;
}

.header__search-input:focus ~ label > svg {
  fill: white;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 9px;
}

.header__menu {
  position: relative;
}

.header__menu-btn {
  width: 32px;
  height: 23px;
  position: relative;
  cursor: pointer;
}

.header__menu-btn span {
  width: 32px;
  height: 3px;
  background-color: #fff;
  display: block;
  outline: none;
  border: none;
}

.header__menu-btn span::before,
.header__menu-btn span::after {
  content: "";
  background-color: inherit;
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  transition: transform 0.5s ease;
}

.header__menu-btn span::before {
  top: 10px;
}

.header__menu-btn span::after {
  top: -10px;
}

.header__menu-btn:hover span,
.header__menu-btn:hover span::before,
.header__menu-btn:hover span::after {
  background-color: #e05c6e;
}

.header__menu-btn:active span::before {
  transition: transform 0.5s ease;
  transform: translateY(-7px);
}

.header__menu-btn:active span::after {
  transition: transform 0.5s ease;
  transform: translateY(7px);
}

.header__menu-switch {
  display: none;
}

.header__menu-switch:checked ~ .menu-list {
  display: block;
}

.menu-list {
  display: none;
  min-width: 232px;
  min-height: 624px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  left: -64px;
  top: 37px;
  box-sizing: border-box;
  padding: 32px;
}

.menu-list__item {
  margin-top: 20px;
}

.menu-list__item:first-child {
  margin-top: 0;
}

.menu-list__item:nth-child(2) {
  margin-top: 24px;
}

.menu-list__title,
.menu-list__item-head {
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
}

.menu-list__title {
  color: black;
  margin-bottom: 24px;
}

.menu-list__subitem {
  margin-top: 12px;
  margin-left: 20px;
}

.menu-list__subitem a {
  font-weight: 400;
  color: #6f6e6e;
  text-transform: capitalize;
}

.header__account {
  margin-left: 25px;
}

.header__link-icon {
  fill: white;
}

.header__link-icon:hover {
  fill: #f16d7f;
}

.header__link-icon:active {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.header__basket {
  position: relative;
  margin-left: 42px;
}

.header__busket-number {
  display: block;
  text-align: center;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: white;
  position: absolute;
  right: -9px;
  top: -8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.breadcrumb {
  background-color: #f8f3f4;
}
.breadcrumb-wrp {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 148px;
}
.breadcrumb-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
}
.breadcrumb-text__title {
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  flex-grow: 1;
}
.breadcrumb-text__link {
  color: #636363;
  font-size: 14px;
  line-height: 17px;
}
.breadcrumb-text__link:last-child {
  font-weight: 400;
  color: #f16d7f;
}
.breadcrumb-text__link:not(:last-child)::after {
  content: "/";
  padding-left: 5px;
  padding-right: 5px;
}

.subscribe {
  background-image: url("../img/subscribe_bgi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(244, 244, 244, 0.7);
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.subscribe-info {
  max-width: 360px;
  width: 100%;
  text-align: center;
  color: #222224;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcribe-info__avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
  border-radius: 50%;
  outline: 1px solid white;
  overflow: hidden;
}

.subcribe-info__avatar img {
  -o-object-position: -24px -10px;
     object-position: -24px -10px;
}

.subscribe-info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subscribe-info__text span {
  font-style: italic;
}

.subscribe-info__text::before,
.subscribe-info__text::after {
  content: "“";
}

.subcsribe-form {
  text-align: center;
  max-width: 557px;
  width: 100%;
}

.subcribe-form__title,
.sibscribe-form__desc {
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
}

.subcribe-form__title {
  font-weight: 700;
  font-size: 24px;
}

.subscribe-form__desc {
  margin-top: -3px;
  font-weight: 400;
  font-size: 18px;
}

.subscribe-form__area {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.subscribe-form__area-input {
  display: block;
  max-width: 256px;
  width: 100%;
  line-height: 49px;
  border-radius: 25px 0 0 25px;
  background-color: #e1e1e1;
  padding-left: 22px;
  padding-right: 64px;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  box-sizing: border-box;
}

.subscribe-form__area-btn {
  display: block;
  line-height: 49px;
  max-width: 100px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  background-color: #e05c6e;
  font-size: 14px;
  color: white;
}

.subscribe-form__area-btn:hover {
  background-color: #fff;
  color: #f16d7f;
}

.subscribe-form__area-btn:active {
  background-color: #e05c6e;
  color: white;
}

.footer {
  background-color: #222224;
  color: #fbfbfb;
}

.footer-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.copyright-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.social-links {
  /* align-self: center; */
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.social-links__item {
  height: 32px;
  width: 32px;
  display: flex;
  background-color: #fff;
}

.social-links__item:hover {
  background-color: #f16d7f;
}

.social-links__item:hover .social-links__item-icon {
  fill: white;
}

.social-links__item:active {
  background-color: transparent;
  outline: 1px solid #f16d7f;
}

.social-links__item:active .social-links__item-icon {
  fill: #f16d7f;
}

.social-links__item-icon {
  fill: black;
  margin: auto;
}

.breadcrumb-text__link {
  display: none;
}

.cart {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart-wrp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}

.card {
  grid-column: 1/span 7;
  display: flex;
  max-width: 652px;
  height: 306px;
  width: 100%;
  position: relative;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.card-text {
  padding-top: 22px;
  padding-left: 32px;
  box-sizing: border-box;
  font-weight: 400;
}
.card .card-text p {
  margin-bottom: 6px;
}
.card-title {
  max-width: 200px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.card-price-value {
  color: #EF5B70;
}
.card-color-value {
  text-transform: capitalize;
  color: #636363;
}
.card-size-value {
  color: #636363;
  text-transform: uppercase;
}
.card-quantity-value {
  margin-left: 24px;
  max-width: 44px;
  width: 100%;
  text-align: center;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.card-quantity-value::-webkit-inner-spin-button, .card-quantity-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-cross-img {
  position: absolute;
  right: 22px;
  top: 28px;
  transition: transform 0.3s ease-in;
}
.card-cross-img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in;
}

.address {
  height: 272px;
  grid-column: span 4/-1;
  grid-row: 1;
  margin-top: 17px;
}
.address-title {
  font-size: 16px;
  line-height: 19px;
  color: #222;
  text-transform: uppercase;
}
.address input {
  border: 1px solid #A4A4A4;
  width: 100%;
  margin-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 43px;
}
.address-city::-moz-placeholder {
  color: #B1B1B1;
}
.address-city::placeholder {
  color: #B1B1B1;
}
.address-state::-moz-placeholder, .address-zip::-moz-placeholder {
  color: #222222;
}
.address-state::placeholder, .address-zip::placeholder {
  color: #222222;
}
.address-quote {
  border: 1px solid #A4A4A4;
  margin-top: 23px;
  box-sizing: border-box;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 33px;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
}
.address-quote:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
.address-quote:active {
  color: white;
  border-color: white;
  background-color: #f16d7f;
}

.checkout {
  height: 214px;
  background-color: #F5F3F3;
  grid-column: span 4/-1;
  grid-row: 2;
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 34px;
}
.checkout-subtotal {
  text-align: end;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  margin-top: 39px;
  font-weight: 400;
}
.checkout-subtotal span {
  margin-left: 25px;
}
.checkout-grandtotal {
  font-size: 16px;
  line-height: 19px;
  text-align: end;
  text-transform: uppercase;
  margin-right: 3px;
  margin-top: 12px;
}
.checkout-grandtotal span {
  margin-left: 25px;
  color: #F16D7F;
  font-weight: 700;
}
.checkout-btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 50px;
  background-color: #f16d7f;
  color: white;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}
.checkout-btn-wrp {
  max-width: 273px;
  width: 100%;
  padding-top: 17px;
  border-top: 1px solid #E2E2E2;
  margin-top: 21px;
  margin: 21px auto 0;
}
.checkout-btn:hover {
  color: #f16d7f;
  background-color: white;
}
.checkout-btn:active {
  color: black;
  background-color: #f16d7f;
}

.card-manage {
  grid-column: 1/span 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.card-manage__clear, .card-manage__continue {
  color: black;
  width: 225px;
  line-height: 50px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.card-manage__clear:hover, .card-manage__continue:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
.card-manage__clear:active, .card-manage__continue:active {
  color: white;
  border-color: white;
  background-color: #f16d7f;
}/*# sourceMappingURL=cart.css.map */