body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, figure, blockquote {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  border: none;
  padding: 0;
  background-color: transparent;
}

input:focus{
  outline: none;
}

/* ------Header------ */
.header {
  background-color: #222;
  min-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  outline: 1px solid tomato;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 41px;
}

.header__logo:hover img {
  filter: brightness(0.7);
}

.header__logo:active img {
  filter: brightness(0.4);
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 33px;
  margin-right: 9px;
}

.header__link {
  position: relative;
}

.header__link-icon {
  fill: white;
}

.header__link-busket-number {
  display: block;
  text-align: center;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: white;
  position: absolute;
  right: -9px;
  top: -8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* --------Poster-------- */
.poster {
  background-color: #F1E4E6;
  text-transform: uppercase;
  min-height: 764px;
  margin: 0 0 65px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.poster__wrapper {
  background-image: url('../img/poster.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 764px;
  box-sizing: border-box;
  padding-top: 290px;
}

.poster__text {
  text-align: left;
  max-height: 93px;
  max-width: 377px;
  margin-left: auto;
  margin-right: 100px;
  position: relative;
}

.poster__text-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.poster__text-title::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 93px;
  background-color: #F16D7F;
  top: 0;
  left: -28px;
}

.poster__text-less-font {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.poster__text-color {
  color: #F16D7F;
}

/* --------OFFER-------- */
.offer_wrp {
  padding-left: 10px;
  padding-right: 10px;
}

.offer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 360px));
  grid-template-rows: minmax(100px, 260px) minmax(100px, 180px);
  gap: 30px;
}

.offer__item {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: darken;
  background-color: rgba(33, 22, 22, 0.7);
}

.offer__item:hover {
  background-blend-mode: normal;
  background-color: #000;
}

.offer__item:first-child {
  background-image: url('../img/offer/woman_no_filter.png');
}

.offer__item:nth-child(2) {
  background-image: url('../img/offer/men_no_filter.png');
}

.offer__item:nth-child(3) {
  background-image: url('../img/offer/kid_no_filter.png');
}

.offer__item:last-child {
  grid-column: span 3;
  background-image: url('../img/offer/clothes_no_filter.png');
}

.offer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offer__desc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

/* --------END OFFER-------- */

/* --------PRODUCTS-------- */
.products {
  padding-left: 10px;
  padding-right: 10px;
}

.products__title {
  margin-top: 96px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.products__title-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.products__cards {
  margin-top: 48px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__card {
  background-color: #f8f8f8;
  max-width: 360px;
  width: 100%;
  position: relative;
}

.product__card-image-wrap {
  position: relative;
}

.product__card:hover .product__card-image-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(58, 56, 56, 0.86);
}

.product__card:hover .product__card-btn {
  visibility: visible;
}

.product__card-image {
  width: 100%;
  height: auto;
  display: block;
}

.product__card-text {
  padding: 24px 16px;
}

.product__card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.product__card-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 16px;
}

.product__card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__card-btn {
  width: 137px;
  height: 44px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28.32%;
  left: calc(50% - 70px);
  visibility: hidden;
  font-weight: 400;
}

.product__card-btn svg {
  fill: white;
}

.product__card-btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.product__card-btn:hover svg {
  fill: black;
}

.product__card-btn:active {
  color: #F16D7F;
  background-color: transparent;
  border-color: #F16D7F;
}

.product__card-btn:active svg {
  fill: #F16D7F;
}

.products__browse {
  margin: 48px auto 95px auto;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: block;
  cursor: pointer;
}

.products__browse:hover {
  background-color: #F26376;
  color: white;
}

/* --------END PRODUCTS-------- */

/* --------FEATURES-------- */
.feature {
  background-color: #222224;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-wrp {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.feature-item {
  min-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-icon {
  fill: #F16D7F;
}

.feature-text {
  color: #FBFBFB;
}

.feature-title {
  text-align: center;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
}

.feature-desc {
  text-align: center;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

/* --------END FEATURES-------- */

/* --------SUBSCRIBE-------- */
.subscribe {
  background-image: url("../img/subscribe_bgi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(244, 244, 244, 0.7);
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.subscribe-info {
  max-width: 360px;
  width: 100%;
  text-align: center;
  color: #222224;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcribe-info__avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
  border-radius: 50%;
  outline: 1px solid white;
  overflow: hidden;
}

.subcribe-info__avatar img {
  object-position: -24px -10px;
}

.subscribe-info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subscribe-info__text span {
  font-style: italic;
}

.subscribe-info__text::before, .subscribe-info__text::after {
  content: '“';
}

.subcsribe-form {
  text-align: center;
  max-width: 557px;
  width: 100%;
}

.subcribe-form__title, .sibscribe-form__desc {
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
}

.subcribe-form__title {
  font-weight: 700;
  font-size: 24px;
}

.sibscribe-form__desc {
  margin-top: -3px;
  font-weight: 400;
  font-size: 18px;
}

.subscribe-form__area {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.subscribe-form__area-input {
  display: block;
  max-width: 256px;
  width: 100%;
  line-height: 49px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  padding-left: 22px;
  padding-right: 64px;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  box-sizing: border-box;
}

.subscribe-form__area-btn{
  display: block;
  line-height: 49px;
  max-width: 100px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  background-color: #E05C6E;
  font-size: 14px;
  color: white;
}

.subscribe-form__area-btn:hover{
  background-color: #fff;
  color: #F16D7F;
}

.subscribe-form__area-btn:active{
  background-color: #E05C6E;
  color: white;
}

/* --------END SUBSCRIBE-------- */

/* MEDIA for TABLETS */

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .header-left {
    margin-left: 32px;
  }

  .header-right {
    gap: 25px;
    margin-right: 42px;
  }

  .header__link--product-count {
    margin-left: 17px;
  }

  .poster__wrapper {
    height: 368px;
    background-position-x: 106px;
    padding-top: 138px;
  }

  .poster__text {
    max-height: 92px;
    max-width: 283px;
    margin-right: 32px;
  }

  .poster__text-title {
    font-style: 44px;
    line-height: 53px;
  }

  .poster__text-less-font {
    font-size: 24px;
    line-height: 29px;
  }

  .poster__text-color {
    font-size: 24px;
    line-height: 29px;
  }

  .offer {
    grid-template-columns: repeat(3, minmax(100px, 232px));
    grid-template-rows: minmax(100px, 167px) minmax(100px, 116px);
    gap: 20px;
    justify-content: center;
  }

  .products__title {
    margin-top: 109px;
  }

  .products__cards {
    margin-top: 72px;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(100px, 360px));
    justify-content: center;
  }
}