body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, figure, blockquote {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  border: none;
  padding: 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

/* ------Header------ */
.header {
  background-color: #222;
  min-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}

.header__logo:hover img {
  filter: brightness(0.7);
}

.header__logo:active img {
  filter: brightness(0.4);
}

.header__search {
  position: relative;
}

.header__search-input {
  position: absolute;
  left: 35px;
  line-height: 28px;
  box-sizing: border-box;
  width: 0;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  padding: 0 5px;
  transition: width 1s ease;
}

.header__search:hover svg {
  fill: #E05C6E;
}

.header__search-input:focus {
  border: 1px solid white;
  width: 200px;
  color: white;
  transition: width 1s ease;
}

.header__search-input:focus~label>svg {
  fill: white;
}


.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 9px;
}

.header__menu {
  position: relative;
}

.header__menu-btn {
  width: 32px;
  height: 23px;
  position: relative;
  cursor: pointer;
}

.header__menu-btn span {
  width: 32px;
  height: 3px;
  background-color: #fff;
  display: block;
  outline: none;
  border: none;
}

.header__menu-btn span::before,
.header__menu-btn span::after {
  content: '';
  background-color: inherit;
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  transition: transform .5s ease;
}

.header__menu-btn span::before {
  top: 10px;
}

.header__menu-btn span::after {
  top: -10px;
}

.header__menu-btn:hover span,
.header__menu-btn:hover span::before,
.header__menu-btn:hover span::after {
  background-color: #E05C6E;
}

.header__menu-btn:active span::before {
  transition: transform .5s ease;
  transform: translateY(-7px);
}

.header__menu-btn:active span::after {
  transition: transform .5s ease;
  transform: translateY(7px);
}

.header__menu-switch {
  display: none;
}

.header__menu-switch:checked~.menu-list {
  display: block;
}

.menu-list {
  display: none;
  min-width: 232px;
  min-height: 624px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, .21);
  left: -64px;
  top: 37px;
  box-sizing: border-box;
  padding: 32px;
}

.menu-list__item {
  margin-top: 20px;
}

.menu-list__item:first-child {
  margin-top: 0;
}

.menu-list__item:nth-child(2) {
  margin-top: 24px;
}

.menu-list__title,
.menu-list__item-head {
  font-weight: 700;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu-list__title {
  color: black;
  margin-bottom: 24px;
}

.menu-list__subitem {
  margin-top: 12px;
  margin-left: 20px;
}

.menu-list__subitem a {
  font-weight: 400;
  color: #6F6E6E;
  text-transform: capitalize;
}

.header__account {
  margin-left: 25px;
}

.header__link-icon {
  fill: white;
}

.header__link-icon:hover {
  fill: #F16D7F;
}

.header__link-icon:active {
  transform: scale(1.1);
  transition: transform .5s ease;
}

.header__basket {
  position: relative;
  margin-left: 42px;
}

.header__busket-number {
  display: block;
  text-align: center;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: white;
  position: absolute;
  right: -9px;
  top: -8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* --------END HEADER-------- */

/* --------POSTER-------- */
.poster {
  background-color: #F1E4E6;
  text-transform: uppercase;
  margin: 0 0 64px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.poster__wrapper {
  background-image: url('../img/poster.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 764px;
  box-sizing: border-box;
  padding-top: 290px;
}

.poster__text {
  text-align: left;
  max-height: 93px;
  max-width: 377px;
  margin-left: auto;
  margin-right: 100px;
  position: relative;
}

.poster__text-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.poster__text-title::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 93px;
  background-color: #F16D7F;
  top: 0;
  left: -28px;
}

.poster__text-less-font {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.poster__text-color {
  color: #F16D7F;
}

/* --------OFFER-------- */
.offer_wrp {
  padding-left: 10px;
  padding-right: 10px;
}

.offer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 360px));
  grid-template-rows: minmax(100px, 260px) minmax(100px, 180px);
  gap: 30px;
}

.offer__item {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: darken;
  background-color: rgba(33, 22, 22, 0.7);
}

.offer__item:hover {
  background-blend-mode: normal;
  background-color: #000;
}

.offer__item:first-child {
  background-image: url('../img/offer/woman_no_filter.png');
}

.offer__item:nth-child(2) {
  background-image: url('../img/offer/men_no_filter.png');
}

.offer__item:nth-child(3) {
  background-image: url('../img/offer/kid_no_filter.png');
}

.offer__item:last-child {
  grid-column: span 3;
  background-image: url('../img/offer/clothes_no_filter.png');
}

.offer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offer__desc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

/* --------END OFFER-------- */

/* --------PRODUCTS-------- */
.products {
  padding-left: 10px;
  padding-right: 10px;
}

.products__title {
  margin-top: 96px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.products__title-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.products__cards {
  margin-top: 48px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__card {
  background-color: #f8f8f8;
  max-width: 360px;
  width: 100%;
  position: relative;
}

.product__card-image-wrap {
  position: relative;
}

.product__card:hover .product__card-image-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(58, 56, 56, 0.86);
}

.product__card:hover .product__card-btn {
  visibility: visible;
}

.product__card-image {
  width: 100%;
  height: auto;
  display: block;
}

.product__card-text {
  padding: 24px 16px;
}

.product__card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.product__card-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 16px;
}

.product__card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__card-btn {
  width: 137px;
  height: 44px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28.32%;
  left: calc(50% - 70px);
  visibility: hidden;
  font-weight: 400;
}

.product__card-btn svg {
  fill: white;
}

.product__card-btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.product__card-btn:hover svg {
  fill: black;
}

.product__card-btn:active {
  color: #F16D7F;
  background-color: transparent;
  border-color: #F16D7F;
}

.product__card-btn:active svg {
  fill: #F16D7F;
}

.products__browse {
  margin: 48px auto 95px auto;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: block;
  cursor: pointer;
}

.products__browse:hover {
  background-color: #F26376;
  color: white;
  transition: all .5s ease;
}

.products__browse:active {
  transform: scaleX(1.05);
}

/* --------END PRODUCTS-------- */

/* --------FEATURES-------- */
.feature {
  background-color: #222224;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-wrp {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.feature-item {
  min-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-icon {
  fill: #F16D7F;
}

.feature-text {
  color: #FBFBFB;
}

.feature-title {
  text-align: center;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
}

.feature-desc {
  text-align: center;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

/* --------END FEATURES-------- */

/* --------SUBSCRIBE-------- */
.subscribe {
  background-image: url("../img/subscribe_bgi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(244, 244, 244, 0.7);
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.subscribe-info {
  max-width: 360px;
  width: 100%;
  text-align: center;
  color: #222224;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcribe-info__avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
  border-radius: 50%;
  outline: 1px solid white;
  overflow: hidden;
}

.subcribe-info__avatar img {
  object-position: -24px -10px;
}

.subscribe-info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subscribe-info__text span {
  font-style: italic;
}

.subscribe-info__text::before, .subscribe-info__text::after {
  content: '“';
}

.subcsribe-form {
  text-align: center;
  max-width: 557px;
  width: 100%;
}

.subcribe-form__title, .sibscribe-form__desc {
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
}

.subcribe-form__title {
  font-weight: 700;
  font-size: 24px;
}

.subscribe-form__desc {
  margin-top: -3px;
  font-weight: 400;
  font-size: 18px;
}

.subscribe-form__area {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.subscribe-form__area-input {
  display: block;
  max-width: 256px;
  width: 100%;
  line-height: 49px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  padding-left: 22px;
  padding-right: 64px;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  box-sizing: border-box;
}

.subscribe-form__area-btn {
  display: block;
  line-height: 49px;
  max-width: 100px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  background-color: #E05C6E;
  font-size: 14px;
  color: white;
}

.subscribe-form__area-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}

.subscribe-form__area-btn:active {
  background-color: #E05C6E;
  color: white;
}

/* --------END SUBSCRIBE-------- */

/* --------FOOTER-------- */
.footer {
  background-color: #222224;
  color: #FBFBFB;
}

.footer-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.copyright-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.social-links {
  /* align-self: center; */
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.social-links__item {
  height: 32px;
  width: 32px;
  display: flex;
  background-color: #fff;
}

.social-links__item:hover {
  background-color: #F16D7F;
}

.social-links__item:hover .social-links__item-icon {
  fill: white;
}

.social-links__item:active {
  background-color: transparent;
  outline: 1px solid #F16D7F;
}

.social-links__item:active .social-links__item-icon {
  fill: #F16D7F;
}

.social-links__item-icon {
  fill: black;
  margin: auto;
}

/* --------END FOOTER-------- */

/*---------MEDIA for TABLETS-------------*/

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
  }

  .header-left {
    margin-left: 32px;
  }

  .header__search-input:focus {
    width: 170px;
  }

  .header-right {
    gap: 25px;
    margin-right: 42px;
  }

  .menu-list{
    left: 20px;
  }

  .header__link--product-count {
    margin-left: 17px;
  }

  .poster {
    padding-right: 0;
    padding-left: 0;
  }

  .poster__wrapper {
    height: 368px;
    background-position-x: 106px;
    padding-top: 138px;
  }

  .poster__text {
    max-height: 92px;
    max-width: 283px;
    margin-right: 32px;
  }

  .poster__text-title {
    font-size: 44px;
    line-height: 53px;
  }

  .poster__text-less-font {
    font-size: 24px;
    line-height: 29px;
  }

  .poster__text-color {
    font-size: 24px;
    line-height: 29px;
  }

  .offer {
    grid-template-columns: repeat(3, minmax(100px, 232px));
    grid-template-rows: minmax(100px, 167px) minmax(100px, 116px);
    gap: 20px;
    justify-content: center;
  }

  .offer_wrp {
    padding-left: 0;
    padding-right: 0;
  }

  .products {
    padding-left: 0;
    padding-right: 0;
  }

  .products__title {
    margin-top: 109px;
  }

  .products__cards {
    margin-top: 72px;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(100px, 360px));
    justify-content: center;
  }

  .products__browse {
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .feature {
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrp {
    flex-direction: column;
    max-width: 360px;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
    margin: 0 auto;
  }

  .feature-item {
    padding-left: 29px;
    padding-right: 29px;
  }

  .subscribe {
    padding-left: 0;
    padding-right: 0;
    background-position: -280px;
  }

  .subscribe-wrp {
    flex-direction: column;
  }

  .subscribe-info {
    margin-top: 64px;
  }

  .subcsribe-form {
    margin-top: 77px;
    margin-bottom: 140px;
  }

  .copyright-txt {
    margin-left: 32px;
  }

  .social-links {
    margin-right: 32px;
  }
}

/*---------END MEDIA for TABLETS-----------*/

/*---------MEDIA for MOBILE-------------*/

@media(max-width: 767px) {
  .container {
    max-width: 375px;
  }

  .header-left {
    margin-left: 16px;
  }

  .header-right {
    margin-right: 16px;
  }

  .menu-list{
    left: -184px;
  }

  .poster__wrapper {
    background: none;
  }

  .header__account, .header__basket {
    display: none;
  }

  .poster__wrapper {
    padding-left: 27px;
    padding-top: 148px;
  }

  .poster__text {
    max-height: 66px;
    max-width: 236px;
    margin-right: auto;
  }

  .poster__text-title {
    font-size: 38px;
    line-height: 42px;
  }

  .poster__text-title::before {
    height: 61px;
    top: 2px;
  }

  .poster__text-less-font, .poster__text-color {
    font-size: 20px;
    line-height: 24px;
  }

  .offer {
    grid-template-columns: minmax(200px, 343px);
    grid-template-rows: none;
    gap: 32px;
  }

  .offer__item {
    height: 247px;
  }

  .offer__item:last-child {
    height: 111px;
    grid-column: span 1;
  }

  .products__title {
    margin-top: 64px;
  }

  .products__cards {
    grid-template-columns: minmax(300px, 360px);
    gap: 16px;
  }

  .products__browse {
    margin-top: 40px;
    margin-bottom: 96px;
  }

  .subcsribe-form {
    max-width: 341px;
  }

  .subscribe-form__desc {
    font-size: 14px;
    line-height: 153.2%;
  }

  .footer-wrp{
    height: 143px;
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: end;
  }

  .copyright-txt{
    margin-left: 0;
    margin-bottom: 9px;
  }

  .social-links{
    margin-right: 0;
  }
}