body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

/* ------Header------ */
.header {
  background-color: #222;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 41px;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 33px;
  margin-right: 10px;
}

/* --------Poster-------- */
.poster {
  background-color: #F1E4E6;
}

.poster__wrapper {
  background-image: url('../img/poster.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 764px;
  box-sizing: border-box;
  padding-top: 290px;
}

.poster__text {
  text-align: left;
  max-height: 93px;
  max-width: 377px;
  margin-left: auto;
  margin-right: 100px;
  position: relative;

}

.poster__text-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.poster__text-title::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 93px;
  background-color: #F16D7F;
  top: 0;
  left: -28px;
}

.poster__text-less-font {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.poster__text-color {
  color: #F16D7F;
}

/* --------Offer-------- */
.offer {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 360px));
  grid-template-rows: minmax(100px, 260px) minmax(100px, 180px);
  gap: 30px;
}

.offer__item {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer__item--men {
  background-image: url('../img/offer/woman.png');
}

.offer__item--men:hover {
  background-image: url('../img/offer/woman_no_filter.png');
}

.offer__item--woman {
  background-image: url('../img/offer/men.png');
}

.offer__item--woman:hover {
  background-image: url('../img/offer/men_no_filter.png');
}

.offer__item--kid {
  background-image: url('../img/offer/kid.png');
}

.offer__item--kid:hover {
  background-image: url('../img/offer/kid_no_filter.png');
}

.offer__item--accesories {
  grid-column: span 3;
  background-image: url('../img/offer/clothes.png');
}

.offer__item--accesories:hover {
  grid-column: span 3;
  background-image: url('../img/offer/clothes_no_filter.png');
}

.offer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offer__desc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

/* --------Products-------- */
.products__title {
  margin-top: 96px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.products__title-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.products__cards {
  margin-top: 48px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(100px, 360px));
}

.products__card {
  background-color: #f8f8f8;
}

.products__card-image {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}

.products__card-title {
  margin-left: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products__card-desc {
  margin-left: 16px;
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products__card-price {
  margin: 16px 0 24px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__browse {
  margin: 48px auto 60px auto;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: block;
  cursor: pointer;
}

.products__browse:hover{
  background-color: #F26376;
  color: white;
}