.header {
  background-color: #222;
  min-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}

.header__logo:hover img {
  filter: brightness(0.7);
}

.header__logo:active img {
  filter: brightness(0.4);
}

.header__search {
  position: relative;
}

.header__search-input {
  position: absolute;
  left: 35px;
  line-height: 28px;
  box-sizing: border-box;
  width: 0;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  padding: 0 5px;
  transition: width 1s ease;
}

.header__search:hover svg {
  fill: #e05c6e;
}

.header__search-input:focus {
  border: 1px solid white;
  width: 200px;
  color: white;
  transition: width 1s ease;
}

.header__search-input:focus~label>svg {
  fill: white;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 9px;
}

.header__menu {
  position: relative;
}

.header__menu-btn {
  width: 32px;
  height: 23px;
  position: relative;
  cursor: pointer;
}

.header__menu-btn span {
  width: 32px;
  height: 3px;
  background-color: #fff;
  display: block;
  outline: none;
  border: none;
}

.header__menu-btn span::before,
.header__menu-btn span::after {
  content: "";
  background-color: inherit;
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  transition: transform 0.5s ease;
}

.header__menu-btn span::before {
  top: 10px;
}

.header__menu-btn span::after {
  top: -10px;
}

.header__menu-btn:hover span,
.header__menu-btn:hover span::before,
.header__menu-btn:hover span::after {
  background-color: #e05c6e;
}

.header__menu-btn:active span::before {
  transition: transform 0.5s ease;
  transform: translateY(-7px);
}

.header__menu-btn:active span::after {
  transition: transform 0.5s ease;
  transform: translateY(7px);
}

.header__menu-switch {
  display: none;
}

.header__menu-switch:checked~.menu-list {
  display: block;
}

.menu-list {
  display: none;
  min-width: 232px;
  min-height: 624px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  left: -64px;
  top: 37px;
  box-sizing: border-box;
  padding: 32px;
}

.menu-list__item {
  margin-top: 20px;
}

.menu-list__item:first-child {
  margin-top: 0;
}

.menu-list__item:nth-child(2) {
  margin-top: 24px;
}

.menu-list__title,
.menu-list__item-head {
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
}

.menu-list__title {
  color: black;
  margin-bottom: 24px;
}

.menu-list__subitem {
  margin-top: 12px;
  margin-left: 20px;
}

.menu-list__subitem a {
  font-weight: 400;
  color: #6f6e6e;
  text-transform: capitalize;
}

.header__account {
  margin-left: 25px;
}

.header__link-icon {
  fill: white;
}

.header__link-icon:hover {
  fill: #f16d7f;
}

.header__link-icon:active {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.header__basket {
  position: relative;
  margin-left: 42px;
}

.header__busket-number {
  display: block;
  text-align: center;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: white;
  position: absolute;
  right: -9px;
  top: -8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
